# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build dir
build/

# Soundtrack
data/sounds/soundtrack.mp3

# Box2D
Box2D/

# Enunciado
2019.01.ejercicio.final.portal.pdf
